<!DOCTYPE html>

<html ng-app="entrance-points">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Eduardo Castro">

    <title>Entrance Points Blockchain</title>

    <link rel="shortcut icon" href="assets/img/logo-min.png">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/angular-moment-picker/dist/angular-moment-picker.min.css">
    <link rel="stylesheet" href="assets/css/app.css">

  </head>

  <body class="container-fluid">

    <div id="view" ng-view></div>

    <!-- SCRIPTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/pt-br.js"></script>
    <script src="bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="vendors/angular-moment-picker/dist/angular-moment-picker.min.js"></script>
    <script src="vendors/bignumber.js/bignumber.min.js"></script>

    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/bignumber.js/bignumber.min.js"></script>
    <script src="bower_components/web3/dist/web3.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/services/EntranceService.js"></script>

    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/modal/EntranceController.js"></script>
    <script src="app/controllers/modal/UserController.js"></script>
    <script src="app/controllers/modal/GetInfoController.js"></script>
    <script src="app/controllers/modal/DeployController.js"></script>

  </body>

</html>
