<!DOCTYPE html>

<html ng-app="entrance-points">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Eduardo Castro">

    <title>Entrance Points Blockchain</title>

    <link rel="shortcut icon" href="assets/img/logo-min.png">

    <link rel="stylesheet" href="bower_components/tether/dist/css/tether.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">

  </head>

  <body>

    <div id="view" ng-view></div>

    <!-- SCRIPTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/tether/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/controllers/HomeController.js"></script>

  </body>

</html>
